{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/includes/sidebar.css' %}">

<div class="context-actions">
    {% if user.is_authenticated and user.role == 'USER' %}
    <a href="{% url 'user_dashboard' %}" class="btn btn-outline-light btn-sm">Dashboard</a>
    {% elif user.is_authenticated and user.role == 'STUDIO' %}
    <a href="{% url 'studio_dashboard' %}" class="btn btn-outline-light btn-sm">Dashboard</a>
    {% else %}
    <a href="{% url 'landing' %}" class="btn btn-outline-light btn-sm">Home</a>
    {% endif %}
</div>
